@using TaskTracker.Models.Domain;
@if(Request.IsAuthenticated) {
    Profile profile = Profile.GetProfile(User.Identity.Name);
    <span welcome="">@String.Format(ViewRes.SharedStrings.Welcome, profile.FirstName, profile.LastName)</span> @:[ @Html.ActionLink(ViewRes.SharedStrings.LogOff, "LogOff", "User") ]
}
else
{
    @:[ @Html.ActionLink(ViewRes.SharedStrings.LogOn, "LogOn", "User") ]
}
