@using TaskTracker.Models.Domain;
@if(Request.IsAuthenticated) {
    Profile profile = Profile.GetProfile(User.Identity.Name);
    string welcome = "Welcome, " + profile.FirstName + " " + profile.LastName + "!";
    <span welcome>@welcome</span> @:[ @Html.ActionLink("Log Off", "LogOff", "User") ]
}
else
{
    @:[ @Html.ActionLink("Log On", "LogOn", "User") ]
}
