@using TaskTracker.Models.Domain;
@if(Request.IsAuthenticated) {
    IUser user = new User(Membership.GetUser(User.Identity.Name));
    <span welcome="">@String.Format(ViewRes.SharedStrings.Welcome, user.FirstName, user.LastName)</span> @:[ @Html.ActionLink(ViewRes.SharedStrings.Profile, "Detail", "User", new {id = user.Id}, null) | @Html.ActionLink(ViewRes.SharedStrings.LogOff, "LogOff", "User") ]
}
else
{
    @:[ @Html.ActionLink(ViewRes.SharedStrings.LogOn, "LogOn", "User") ]
}
