@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewRes.SharedStrings.ErrorTitle</title>
</head>
<body>
    <h2>
        @ViewRes.SharedStrings.ErrorMessage
    </h2>
</body>
</html>